.blog-content {
  text-align: left;
}

.blog-content p {
  line-height: 1.5;
  margin: 30px 0;
  font-size: 20px;
}

.blog-content .comment-header h1{
  font-size: 24px;
}

.blog-content .btn-delete, .blog-content .btn-edit {
  float: right;
}