.page-header h1{
  text-align: left;
  font-weight: 800;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.page-header a {
  color: #333
}

.page-header a:hover {
  color: #337ab7;
  text-decoration: none;
}

.page-header small {
  color: #777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}